<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>

<body>
    <h1>単語登録</h1>
    <form th:action="@{/insert}" th:object="${wordForm}" method="post">
        <label for="word">単語</label>
        <input type="text" name="word" id="word" th:field="*{word}"><br>
        <label for="meaning">意味</label>
        <input type="text" name="meaning" id="meaning" th:field="*{meaning}"><br>
        <button>登録</button>
    </form>
</body>

</html>